.btn {
  padding: 0.375rem 2rem !important;
  border-radius: 6px !important;
  height: 45px !important;
}
.btn-blue {
  background: #015eff !important;
  box-shadow: 0px 2px 5px rgba(169, 181, 192, 0.2) !important;
  color: white !important;
  transition: all ease 0.3s !important;
  &:hover {
    background: darken($color: #015eff, $amount: 10%) !important;
    color: white !important;
  }
}
.btn-green {
  background: #0fc578;
  color: white;
  transition: all ease 0.3s;
  &:hover {
    background: darken($color: #0fc578, $amount: 10%);
    color: white;
  }
}
.btn-outline-blue {
  color: #015eff;
  border: #015eff solid 1px;
  background: white;
  &:hover {
    background: lighten($color: #015eff, $amount: 10%);
    color: white;
  }
}
.btn-outline-red {
  color: #f34335;
  border: #f34335 solid 1px;
  background: white;
  &:hover {
    background: lighten($color: #f34335, $amount: 10%);
    color: white;
  }
}
.btn-grey {
  color: white;
  background: #d4ddeb;
  box-shadow: 0px 2px 5px rgba(169, 181, 192, 0.2);
  &:hover {
    background: darken($color: #d4ddeb, $amount: 10%);
    color: white;
  }
}
.btn-lg {
  min-width: 194px;
  font-size: 17px !important;
}
.btn-sm {
  padding: 0.1rem 0.7rem !important;
  height: 23px;
  font-size: 12px;
}
.btn-md {
  min-width: 125px;
  height: 45px;
  font-size: 15px;
}
.btn-upload {
  color: #4a4b65;
  border: #4a4b65 solid 1px;
  background: white;
  font-weight: 700;
  font-size: 15px;
  width: 100%;
  padding: 0.6rem 2rem !important;
  cursor: pointer;
  &:hover {
    background: lighten($color: #4a4b65, $amount: 60%);
    color: #495057;
  }
}