.side-wrapper {
  .sidebar-overlay {
    background: #0000005e;
    position: fixed;
    height: 100%;
    width: 100%;
  }
  .menu-icon {
    position: absolute;
    right: 15px;
    top: 11px;
    font-size: 20px;
    display: none;
    color: #0b07d6;
    @media (max-width: 992px) {
      display: block;
    }
  }
  .sidebar {
    transition: 0.3s all ease-in-out;
    overflow: hidden;
    z-index: 3;
    position: fixed;
    min-height: 100vh;
    width: 0% !important;
    @media (min-width: 992px) {
      width: 432px !important;
      position: fixed;
      display: block !important;
    }
    &.sidebar-isOpen {
      width: 80% !important;
    }

    .sidebar-wrapper {
      padding: 2rem;
      min-height: 100vh;
      position: relative;
      background: url('../assets/img/bg1.png') center center;
      background-size: cover;
    }
    .pt-space {
      padding-top: 14vh !important;
    }
  }
  @media (max-width: 992px) {
    .font38 {
      font-size: 30px !important;
    }
  }
  .light-white {
    color: rgba(255, 255, 255, 0.7);
  }

  .side-links {
    margin-top: 13vh;
    a {
      padding: 1rem 0;
      text-transform: uppercase;
      font-weight: 600;
      color: #2ca1ff;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: 0.3s ease-in all;
      &:hover {
        transform: scale(1.02);
        text-decoration: none;
      }
      &.active {
        color: white;
      }
      .check-mark {
        margin-right: 0.7rem;
      }
      .number {
        margin-right: 0.7rem;
        font-size: 10px;
        border: solid;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.register-wrapper {
  .main-auth-content {
    min-height: 100vh;
    width: 100%;
    margin-left: 0;
    transition: 0.2s ease-in-out;
    background: #f5f6f9;
    overflow: hidden;
    .px {
      padding: 2vh 5vw;
    }
    .title-space {
      padding-top: 3vh;
    }
  }

  @media (min-width: 992px) {
    .main-auth-content {
      width: calc(100% - 432px);
      margin-left: 432px;
    }
  }
}
